<%= form_with scope: :image_url, url: image_urls_path, local: true do |form| %>
  <% if @image_url.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@image_url.errors.count, "error") %> prohibited this image_url from being saved:
      </h2>
      <ul>
        <% @image_url.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p> <%= form.label 'Image Url' %><br>
    <%= form.text_field :url %>
  </p>
  <p> <%= form.label :'Tag(s)' %><br>
    <%= form.text_field :tag_list %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', image_urls_path %>
